@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/lora-v26-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/lora-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/lora-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/lora-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/lora-v26-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/lora-v26-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
  }
body{
    font-family: "Lora";
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}
/*header*/
.header {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.header-menu ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 18px;

}
.header-logo img{
    width: 180px;
}
.header-button button{
    background-color: #ff512f;
    border: none;
    color: white;
    font-size: 20px;
    font-weight:700;
    padding: 15px 50px;
    font-family: "Lora";
}
/*hero*/
.hero{
    display: flex;
}
.hero-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5% 8%;
    background-image: url(images/pattern.png);
    filter: contrast(80%);
}
.hero-right{
    background-image: url(images/hero-picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    background-color: aqua;
}
.tag{
    display: flex;
    align-items: center;
    gap: 5px;
}
.tag img{
    width: 25px;
    height: 25px;
}
.title{
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    color: white;
}
.tag{
    color: white;
    font-size: 21px;
    font-style: italic;
}
.subtitle{
    color: white;
    font-size: 27px;
}
.hero-contact{
    display: flex;
    align-items: center;
    gap: 50px;
}
.hero-contact p{
    color: white;
}
.hero-contact-left{
    padding: 10px;
    background-color: #ff512f;
    border-radius: 100px;
}
.hero-contact-left img{
    width: 40px;
    height: 40px;
}
/*qualities*/
.qualities {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 125px 300px;
    gap: 60px;
    background-color: white;
}
.quality-img{
    background-color: #ff512f;
    padding:20px;
    width: 100px;
}
.quality{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;

}
.quality p{
    margin:0;
}
.quality-title{
    font-weight: bold;
    font-size: 23px;
}
.quality-divider{
    width: 25px;
    filter: grayscale(90%);
    margin: 10px 0px;
}
.quality-description{
    font-size: 18px;
    line-height: 30px;
}
.quality-button{
    padding: 20px 60px;
    background-color: white;
    border: 1px solid black;
    font-size: 18px;
    font-weight: 600;
    font-family: "Lora";
    margin-top: 25px;
}
.separator{
    padding: 0px 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 120px;
}
/*ingredients*/
.ingredients{
    display: flex;
    padding: 0px 250px;
    background-color: white;
}
.ingredients-left{
    /* background-color: #3562c4; */
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
    padding: 20px;

}
.ingredients-left img{
    height: 620px;
}
.ingredients-right{
    /* background-color: #1dd8af; */
    padding-left:20px;
    /* padding-right: 250px; */
    flex: 1 1 0px;
}
.ingredients-tag,
.ingredients-title,
.ingredients-subtitle{
    color: #222222;
}
.ingredients-subtitle{
    font-size: large;
    line-height: 35px;
}
.ingredient-list-item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 10px;
    font-size: large;
}
.ingredient-list-item p{
    padding: 0;
    margin: 0;
}
.ingredient-list img{
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}
/*catering*/
.catering{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f1317;
    padding: 70px 30px;
}
.catering-button{
    padding: 20px 60px;
    background-color: #0f1317;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: "Lora";
    margin-top: 25px;
}
.catering-services-grid{
    display: flex;
    gap: 30px;
    padding: 60px 0px;
}
.catering-service{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}
.catering-service-image{
    width:400px;
    height: auto;
}
.catering-service-title{
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0px;
    margin: 0;
}
.catering-service-subtitle{
    margin: 0;
    padding-bottom:30px;
    color: rgb(182, 180, 180);
}
.catering-separator{
    width: 80px;
}
.catering-price{
    font-size: larger;
}
/*cat*/
.cat{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0px;
    background-image: url(./images/pattern-orange.png);
    
    
}
.cat img {
    width: 100px;
}
.cat-title{
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}
.cat-subtitle{
    color: white;
    font-size: 20px;
    margin: 0;
}
.cat-button{
    background-color: white;
    border: none;
    color: #222222;
    font-size: 22px;
    font-family: "Lora";
    font-weight: bold;
    padding: 20px 40px;
    margin-top: 30px;
}
/*why*/
.why{
    display: flex;
    padding: 100px 280px;
    background-color: white;
    gap: 50px;
}
.why-right{
    flex: 1 1 0px;
}
.why-right img{
    height: 700px;
}
.why-left{
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.why-tag{
    color: #222222;
}
.why-tag p{
    margin: 0;
}
.why-title{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: #222222;
}
.why-subtitle{
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
    color: #222222;
    padding-right: 70px;
    line-height: 40px;
    flex-grow: 0;
}
.why-quality{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 20px;
}
.why-quality img{
    width: 60px;
}
.why-quality h4{
    font-size: 22px;
    margin: 0;
    margin-bottom: 15px;
}
.why-quality h5{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-right: 70px;
    line-height: 30px;
}
